<!DOCTYPE html>
<html lang="ja">
 <head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/lists.css">
 </head>
 <body>
  <header class="heading">
    <a href="/lists/top" class="top"><span>T</span><span>トップ</span></a>
    <a href="/lists/profile" class="top2"><span>ABOUT ME</span><span>私について</span></a>
    <a href="/lists" class="top3"><span>CONTACT</span><span>問い合わせ</span></a>
  </header>
  <div class="main-v">
    <video class="mp" src="/assets/videos/lg.mp4" webkit-playsinline playsinline muted autoplay></video>
    <div class="main-v-list">
      <img class="listimg" src="/assets/low.png" alt="">
    </div>
    <div class="main-list">

    </div>
  </div>

 </body>
</html>