<!DOCTYPE html>
<html lang="ja">
 <head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/lists.css">
     <link rel="stylesheet" type="text/css" href="/profile.css">
 </head>

 <body>
  <header  class="heading">
   <a href="/lists/top" class="top"><span>T</span><span>トップ</span></a>
   <a href="/lists/profile" class="top2"><span>ABOUT ME</span><span>私について</span></a>
   <a href="/lists" class="top3"><span>content</span><span>問い合わせ</span></a>
  </header>
  <div class="main-visual">
  <h1>Profile</h1>
  <div class="myprofile">
     <div class="name">
         <h3>西 野 　綾 香　（にしの　あやか）</h3>
     </div>
     <div class="present">
      <img class="myimg" src="/assets/p.png" alt="">
      <div class="text">
         <p>青森県十和田市　出身</p>
         <p>1993年（平成5年） 1月5日 生 （30歳）</p></br>
         <hr width="50%" align="center"></hr>
         <p>2013年 准看護師 資格取得</p>
         <p>2018年 正看護師 資格取得</p>
         <p>約10年間看護師として勤務しました。</p>
         <p>2023年6月 DMM WEBCAMP学習コースにて </p>
         <p>「Webアプリケーション」「PHP/Laravel」を学習</p>
         </br>
         <hr width="50%" align="center"></hr>
         <h4>学習スキル</h4>
         <p>HTML/CSS　Ruby/Ruby on Rails　</br>
            PHP/Laravel　MySQL（MariaDB）</p>
            <a href="https://www.openbadge-global.com/ns/portal/openbadge/public/assertions/user/UzlrQ1BXWDZDckY5MTEzS1pncEt5dz09
">PHP/Laravel スキル習得認定バッジ</a>
      </div>
     </div>
  </div>
  </br>
  <div class="myprofile">
   <div class="">
    <p></p>
   </div>
  </div>
  </body>
</html>