<html lang="ja">
 <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/lists.css">
    <link rel="stylesheet" type="text/css" href="/contacts.css">
 </head>
 <body>
    <header  class="heading">
     <a href="/lists/top" class="top"><span>T</span><span>トップ</span></a>
     <a href="/lists/profile" class="top2"><span>ABOUT ME</span><span>私について</span></a>
     <a href="/contacts" class="top3"><span>CONTACT</span><span>問い合わせ</span></a>
   </header>
   <div class="main-v">
     <div class="done-textbox">
       <div class="done-text">
        <p>ありがとうございます。</br>
           お問い合わせ内容を送信しました。</p>
        </br>
       </div>
       <a href="/lists/top" class="back"><span>topに戻る</span></a>
     </div>
   </div>
   <footer>
     <p class="footer-text"> Ayaka Nishino　portfolio </p>
   </footer>
 </body>
</html>