<!DOCTYPE html>
<html lang="ja">
 <head>
     <meta charset="utf-8">
      <title>My profile</title>
       <link rel="stylesheet" type="text/css" href="/homes.css">
 </head>
 <body>
     <header class="fadeout">
         <h3>初めまして</h3>
     </header>
         <main class="slidshow">
          <img class="img" src="/assets/r.jpg" alt="">
          <img class="img" src="/assets/s.jpg" alt="">
         </main>
         <div class="fadein">
           <a>西野　綾香（にしの　あやか）　と申します</a>
           <meta http-equiv="refresh" content=" 8; url=./lists/top">
         </div>


 </body>
</html>