<!DOCTYPE html>
<html lang="ja">
 <head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="/lists.css">
 </head>
 <body>
  <header class="heading">
    <a href="/lists/top" class="top"><span>T</span><span>トップ</span></a>
    <a href="/lists/profile" class="top2"><span>ABOUT ME</span><span>私について</span></a>
    <a href="/contacts" class="top3"><span>CONTACT</span><span>問い合わせ</span></a>
  </header>