.contact {
  display: inline-flex;
  margin: 100px;
}

.contact-box {
  padding: 8px 16px;
  margin: 0 auto;
  background: #fdfdfd;
  border-top: solid 40px #9E9E9E;
  width: 80%;
  height: 500px;
  box-shadow: -3px 7px 5px rgba(0, 0, 0, 0.22);
}


.textbox-label,
.form-group {
    color: #333;
}

.textbox-label {
    display: block;
    margin-bottom: 5px;
    font-size: .9em;
}

.form-group {
  padding: 8px 10px;
  font-size: 20px;
}

.form-control::placeholder {

}

.textbox-label {
  border-radius: 5px;
  margin-right: 10px;
  width: 55px;
  display: inline-block;
  text-align: center;
  background: #F44336;
  color: #fff;
  font-size: 18px;

}