.contact {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 200px 0;
}

.contact-box {
  padding: 10px 50px;
  background: #fdfdfd;
  border-top: solid 40px #9E9E9E;
  width: 60%;
  height: 100%;
  box-shadow: -3px 7px 5px rgba(0, 0, 0, 0.22);
}

.title {
  font-size: 35px;
  text-align: center;
  padding: 20px 0px;
  border-top: 3px dotted #9E9E9E;
  border-bottom: 3px dotted #9E9E9E
}

.form-group {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.contact-text {
  text-align: left;
  margin-left: 135px;
}


.textbox-label {
  border-radius: 5px;
  margin-left: 20px;
  width: 55px;
  display: inline-block;
  text-align: center;
  background: #F44336;
  color: #fff;
  font-size: 18px;

}

.form-input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 5px 20px;
  height: 50px;
  width: 60%;
  background: #eaedf2;
  font-size: 18px;
}

.form-input-last {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding: 5px 20px;
  height: 160px;
  width: 60%;
  background: #eaedf2;
  font-size: 18px;
}

.ctext {
  font-size: 25px;
  text-align: center;
}

.contact-bnt {
  margin-top: 50px;
  margin-bottom: 100px;
}

.btn {
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #9E9E9E;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.done-textbox {
  height: 500px;
  padding-top: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.done-text {
  background-color: white;
  height: 150px;
  font-size: 30px;
}

.back {
  background-color: white;
  height: 50px;
  font-size: 20px;
}