h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
	text-align: center;
	line-height: 0.95em;
	letter-spacing: 0.15em;
	color: transparent;
	-webkit-text-stroke: 0.02em rgba(0,0,0,1);
}

/*枠デザイン*/
.myprofile {
  width: 70%;
  /*height: 85%;*/
  margin-left: 190px;
  position: relative;
  padding: 0.25em 1em;
  border: solid 5px black;
  border-radius: 3px 0 3px 0;
  background-color: white;
}

.myprofile:before,.profile_box:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 5px black;
  border-radius: 50%;
}

.myprofile:after {
  top: -25px;
  left: -20px;
}

.myprofile:before {
  bottom: -25px;
  right: -25px;
}

/*画像*/
.profile_figure {
width:150px;
height:150px;
border-radius: 50%; /*丸くする*/
border: solid 3px #ffcb8a; /*枠線*/
}

.name {
  padding: 0px 30px;
  text-align: center;
  font-size: 25px;
}

.present {
  display: flex;
}

.myimg {
  width: 300px;
  height: 400px;
  margin: 60px 60px;
}

.text {
  /*line-height: 1.5;*/
  margin: 0px 0px 60px 80px;

}
