h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 90px;
	text-align: center;
	letter-spacing: 15px;
	color: transparent;
	-webkit-text-stroke: 2px rgba(0,0,0,1);
	background-color: white;
	border-radius: 100%;
}

/*枠デザイン*/
.myprofile {
  width: 70%;
  margin: 0 auto;
  position: relative;
  padding: 16px 4px;
  border: solid 5px black;
  border-radius: 3px 0 3px 0;
  background-color: white;
}

.myprofile:before,.profile_box:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 5px black;
  border-radius: 50%;
}

.myprofile:after {
  top: -25px;
  left: -20px;
}

.myprofile:before {
  bottom: -25px;
  right: -25px;
}

/*画像*/
.profile_figure {
width:150px;
height:150px;
border-radius: 50%; /*丸くする*/
border: solid 3px #ffcb8a; /*枠線*/
}

.name {
  padding: 0px 30px;
  text-align: center;
  font-size: 25px;
}

.present {
  display: flex;
}

.myimg {
  position: absolute;
  width: 95%;
  height: 530px;
  margin: 0 auto;
  opacity: 0.5;
}

.text {
  position: relative;
  text-align: center;
  margin-left: 410px;
  font-weight: 900;
}

.vision {
  display: flex;
}

.text2 {
  margin: 30px 10px 0px 50px;
}

.myimg2 {
  width: 300px;
  height: 400px;
  margin: 60px;
  opacity: 0.7;
}